<h1>Editing Device</h1>

<% form_for(@device) do |f| %>
  <%= f.error_messages %>

  <% if @account && @account.admin -%>
  <p>
    <%= f.label :user_id %><br />
    <%= f.collection_select(:user_id, User.all, :id, :username, { :include_blank => "-none-" }) %>
  </p>
  <p>
    <%= f.label :imei %><br />
    <%= f.text_field :imei %>
  </p>
  <% end -%>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :allow_online_edit %><br />
    <%= f.check_box :allow_online_edit %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', request.env['HTTP_REFERER'] || root_path %>
