<h1>Users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Admin</th>
	<th>Timezone</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.admin %></td>
	<td><%=h user.time_zone %></td>
    <td>
	<%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New', new_user_path %>