<h1>New Surf Alarm</h1>

<%= form_for(@surf_alarm) do |f| %>
  
  <p>
    <%= f.label :device_id %><br />
    <%= f.collection_select(:device_id, Device.all, :id, :imei, { :include_blank => "-none-"}) %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.label :wave_height %>
    <%= f.select :wave_height,
	[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16] %>
    </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time, {:minute_step => 15} %>
  </p>
  <p>
    <%= f.label :beach_id %><br />
    <%= f.select :beach_id, SurfAlarmBeaches.all.collect {|b| [b.name, b.id] }, { :include_blank => "-none-" } %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', surf_alarms_path %>
